.film-card {
  border-radius: 4px;
  max-width: 280px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 1.3;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: box-shadow 250ms ease;

  @media screen and(min-width:768px) {
    max-width: 293px;
  }
  @media screen and(min-width:1024px) {
    max-width: 274px;
  }
  
&__img {
  border-radius: 4px;
  max-width: 280px;
  display: block;
  height: auto;
  transition: all 0.5s ease;
  &:hover,
  &:focus{
    transform: scale(1.05) translateY(-5px);
    box-shadow: 4px -1px 14px 4px rgba(255, 107, 8, 0.5);
    transition: all 250ms ease;
  }

  @media screen and(min-width:768px) {
    max-width: 293px;
  }
  @media screen and(min-width:1024px) {
    max-width: 274px;
  }
}
&__list {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  // flex-basis: ;
  align-items: center;
}
&__list-item:not(:last-child) {
  margin-right: 5px;
  &::after {
    content: ',';
    margin-left: 2px;
  }
  
}

&__meta {
  display: flex;
  color: var(--aiming-color);
  align-items: baseline;
}

&__header {
  margin-top: 10px;
  color: var(--black-color);
  text-transform: uppercase;
  line-height: 1.2;
}

&__year {
  margin-left: 5px;
  &::before {
    margin-right: 5px;
    content: '|';
  }
}

&__rating {
  margin-left: 8px;
  color: var(--main-background-color);
  background-color: var(--aiming-color);
  padding: 1px 4px;
  border-radius: 20%;
}
}

.pnotify {
  margin-top: 80px;
}