.film-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--cubic);
}

.film-container {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.is-hidden {
  display: none;
}

.modal {
  position: absolute;
  z-index: 9999999999999;
  width: 280px;
  max-width: 100%;
  flex-shrink: 0;
  flex-grow: 0;

  padding-top: 48px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 41px;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--main-background-color);

  @media screen and (min-width: 768px) {
    width: 618px;
    padding-top: 42px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: 1024px) {
    width: 882px;
    height: 568px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

&__closebtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  color: var(--black-color);
  background-color: transparent;
  background-image: url('../images/svg/icon-close.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
  transition: fill 250ms var(--cubic);
  &:hover,
  &:focus {
    fill: var(--aiming-color);
    border-radius: 50%;
    box-shadow: 4px -1px 14px 4px rgb(255 107 8 / 50%);
    transition: box-shadow 250ms ease;
  }
}
&__img {
  width: 240px;
  height: 356.57px;
  border-radius: 5px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 373.55px;
    margin-bottom: 0px;
    margin-right: 32px;
  }

  @media screen and (min-width: 1024px) {
    width: 396px;
    height: 477.8px;
    margin-bottom: 0px;
    margin-right: 30px;
  }
}

&__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  color: var(--black-color);

  @media screen and (min-width: 1024px) {
    font-size: 30px;
    line-height: 1.16;
  }
}
}

.modal__table {
  margin-bottom: 20px;

&--caption {
  padding-right: 40px;
  padding-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
}

&--data {
  padding-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--black-color);
}

&--vote {
  display: inline-table;
  text-align: center;
  align-items: center;
  width: 36px;
  height: 16px;
  background: var(--aiming-color);
  border-radius: 5px;
  color: var(--main-background-color);
}

&--votes {
  display: inline-table;
  text-align: center;
  align-items: center;
  width: 36px;
  height: 16px;
  background: var(--main-background-color);
  border-radius: 5px;
}
}

.modal__text--title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--black-color);
}

.modal__text {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: var(--black-color);
}

.modal__button {
  display: flex;
  @media screen and (min-width: 768px) {
    margin-left: 279px;
  }
  @media screen and (min-width: 1024px) {
    margin-left: 0;
    position: absolute;
    bottom: 40px;
    right: 215px;
  }

&--watched {
  margin-top: 0;
  padding: 0;
  text-transform: uppercase;
  margin-right: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--main-background-color);
  width: 112.58px;
  height: 44px;
  background: var(--aiming-color);
  border: 1px solid var(--aiming-color);
  border-radius: 5px;
  border-color: var(--aiming-color);
  cursor: pointer;
  &:hover,
  &:focus {
    box-shadow: 4px -1px 14px 4px rgb(255 107 8 / 50%);
    transition: box-shadow 250ms ease;
  }
  @media screen and (min-width: 768px) {
    width: 125px;
  }

  @media screen and (min-width: 1024px) {
    width: 136px;
  }
}

&--queue {
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--black-color);
  background-color: var(--main-background-color);
  width: 112.58px;
  height: 44px;
  border: 1px solid var(--black-color);
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--aiming-color)var(--aiming-color);
    border: 1px solid var(--aiming-color);
    box-shadow: 4px -1px 14px 4px rgb(255 107 8 / 50%);
    transition: box-shadow 250ms ease;
  }

  @media screen and (min-width: 768px) {
    width: 125px;
  }
  @media screen and (min-width: 1024px) {
    width: 136px;
  }
}
}

.last_data {
  padding-bottom: 0;
}
