.form__container {
    margin-top: 30px;
}

.signin {

  &-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    background-color: rgba(0, 0, 0, .1);
    opacity: 1;
    // @extend %animation;
    transition-property: opacity, visibility;

    padding: 90px 15px;
    overflow-y: scroll;
  }

&__modal {
    width: 320px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: var(--main-background-color);
    color: var(--signin-modal-color);
    box-shadow: 0px 0px 19px 3px var(--aiming-color);
    border-radius: 5px;

    @media screen and (min-width: 768px) {
        width: 480px;
      }

}

&__choice {
    display: flex;
    margin: 0px 30px;
    font-size: 20px;
}

&__choice li {
    width: 50%; 
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    cursor: pointer;

    &:hover,
    &:focus {
        color: var(--aiming-color);
        &::after {
            background-color: var(--aiming-color);
        }
    }
    
}

&__form label {
    display: block;
}

&__label {
    display: block;
}

&__input-wrap {
    display: block;
    width: 100%;
    margin-top: 5px;
}

&__input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border-radius: 5px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid #e2e2e2;
    outline: none;
    &:hover,
    &:focus {
        border-radius: 5px;
        border: 2px solid #c7c7c7;
    }
}

&__field:not(:first-child) {
    margin-top: 5px;
}

&__modal-closeBtn {
    padding: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    border-color: var(--modal-border-color);
    border-width: 1px;
    border-style: solid;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;


    &:hover,
    &:focus {
        border-color: var(--aiming-color);
        .modal__close-image {
        fill: var(--aiming-color);
        }
    }
  }

&__button {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: 44px;
    color: var(--main-background-color);
    border-radius: 5px;
    background-color: var(--aiming-color);
    transition: color 0.3s, background 0.3s;
    border: 1px solid var(--aiming-color);
    cursor: pointer;
    font-size: 21px;
    
    &:hover,
    &:focus {
        background-color: var(--signin-modal-bgcolor);
        
    }
}
}

button.signin__input {
    margin-top: 20px;
}

.active-tab::after {
    width: 100%;
    height: 2px; 
    display: block;
    position: absolute;
    bottom: 0; 
    background-color: var(--signin-modal-color); 
    content: "";
}

.signout {
  &__text {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }

  &__choice {
    display: flex;
    justify-content: center;
  }

  &__item:not(:first-child) {
    margin-left: 15px;
  }

  &__button {
    margin-top: 30px;
    width: 70px;
    height: 44px;
    color: var(--main-background-color);
    border-radius: 5px;
    background-color: var(--aiming-color);
    transition: color 0.3s, background 0.3s;
    border: 1px solid var(--aiming-color);
    cursor: pointer;
    font-size: 18px;
    
    &:hover,
    &:focus {
        background-color: var(--signin-modal-bgcolor);
        
    }
  }
}
