.team-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--cubic);
  padding: 60px 0px;
  overflow-y: scroll;

  &--is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  @media screen and (min-width: 768px) {
    padding: 93px 0px;
  }
}

.team-modal {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 25px;
  padding-right: 25px;
  width: 320px;
  background-color: var(--main-background-color);
  transition: transform 250ms linear;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 768px) {
    width: 680px;
  }

  @media screen and (min-width: 1024px) {
    width: 980px;
  }
  .backdrop--is-hidden & {
    transform: scale(1.2);
  }
}

.team-modal__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.team-modal__item {
  max-width: 270px;

  &:not(:first-child) {
    margin-top: 30px;
  }

  background-color: var(--main-background-color);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: 1024px) {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.team-modal__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  border-color: var(--modal-border-color);
  border-width: 1px;
  border-style: solid;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;

  &:hover,
  &:focus {
    // fill: #ff6b08;
    border-color: var(--aiming-color);
    .modal__close-image {
      fill: var(--aiming-color);
    }
  }

  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}

.team-modal__content {
  padding: 30px 32px;
}

.team-modal__name {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.172;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--modal-border-color);
}

.modal__close-image {
  width: 16px;
  height: 16px;
  fill: var(--modal-border-color);
}

.sl {
  &__list {
  display: flex;
  justify-content: center;
  fill: #afb1b8;
}

  &__item:not(:last-child) {
  margin-right: 10px;
}

  &__logo {
  width: 20px;
  height: 20px;
  fill: inherit;
}

  &__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--aiming-color);
    fill: var(--main-background-color);
  }
}
}