{{#each this.results}}
<div class="modal">
    <button class="modal__closebtn">X</button>

    <img class="modal__img" src="https://image.tmdb.org/t/p/{{this.poster_path}}" alt="{{this.original_title}}">

    <h2 class="modal__title">{{this.original_title}}</h2>

    <table class="modal__table">
        <tr class="modal__table--row">
            <td class="modal__table--caption">Vote / Votes</td>
            <td class="modal__table--data">
                <span class="modal__table--vote">{{this.vote_average}}</span> /
                <span class="modal__table--votes">1260</span>
            </td>
        </tr>
        <tr class="modal__table--row">
            <td class="modal__table--caption">Popularity</td>
            <td class="modal__table--data">100.2</td>
        </tr>
        <tr class="modal__table--row">
            <td class="modal__table--caption">Original Title</td>
            <td class="modal__table--data">A FISTFUL OF LEAD</td>
        </tr>
        <tr class="modal__table--row">
            <td class="modal__table--caption last_data">Genre</td>
            <td class="modal__table--data last_data">Western</td>
        </tr>
    </table>

    <h3 class="modal__text--title">ABOUT</h3>

    <p class="modal__text">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most
        corrupt settlement of
        the
        gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out
        in
        the
        abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the
        very
        same
        bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead...
        they’ve
        been double crossed – but by who and how?
    </p>

    <button class="modal__button modal__button--watched ">add to Watched</button>
    <button class="modal__button modal__button--queue">add to queue</button>
</div>
{{/each}}