:root {
    --black-color: #000;
    --aiming-color: #ff6b08;
    --error-color: #FF001B;
    --signin-modal-color: #071666;
    --main-background-color: #fff;
    --signin-modal-bgcolor: #d85700;
    --modal-border-color: #545454;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  }
  