<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filmoteka</title>
  </head>
  <body>
    <header>
      <!-- HEADER-HOME -->
      <section class="container">
        <nav class="img-home nav-position">
          <div class="row">
            <a href="./" class="header-logo"> <span class="logo-title">Filmoteka </span></a>

            <ul class="link-list">
              <li class="link-header">
                <span class="link-header current"> Home</span>
              </li>
              <li class="link-header">
                <span class="link-header">my library</span>
              </li>
            </ul>
        </div>
          <div class="seach-form">
            <form action="#" id="seach-form">
              <input type="search" name="seach" autocomplete="off" placeholder="Поиск фильмов" />
              <label ></label>
              <button class="btn-seach"></button>
            </form>
          </div>
        </nav>
      </section>
      <!-- HEADER-LIBRARY -->
      <section class="container">
        <nav class="img-library nav-position">
          <div class="row">
            <a href="./" class="header-logo"> <span class="logo-title">Filmoteka </span></a>

            <ul class="link-list">
              <li class="link-header-blok">
                <span class="link-header"> Home</span>
              </li>
              <li class="link-header-blok">
                <span class="link-header current">my library</span>
              </li>
              </ul>
          </div>
          <div class="library-btn-position">
            <button class="library-btn">Watched</button>
            <button class="library-btn">queue</button>
            <button class="library-btn" data-signin-open>SignIn</button>
          </div>
        </nav>
      </section>
    </header>

    <section></section>
  </body>
</html>
