<div class="team-backdrop team-backdrop--is-hidden js-team-backdrop">
  <div class="team-modal">
    <button type="button" class="team-modal__button js-team-modal-close">
      <svg class="modal__close-image">
        <use href="./images/svg/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="team-modal__list">
      <li class="team-modal__item">
        <picture>
          <source srcset="./images/team/photo9.jpg 1x, ./images/team/photo9.jpg 2x" />
          <img src="./images/team/photo9.jpg" alt="фотография" width="270" />
        </picture>
        <div class="team-modal__content">
          <h3 class="team-modal__name">Oleksandr Shostak</h3>
          <ul class="sl__list">
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use href="./images/svg/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-facebook"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-modal__item">
        <picture>
          <source srcset="./images/team/photo9.jpg 1x, ./images/team/photo9.jpg 2x" />
          <img src="./images/team/photo9.jpg" alt="фотография" width="270" />
        </picture>
        <div class="team-modal__content">
          <h3 class="team-modal__name">Oleksandr Shostak</h3>
          <ul class="sl__list">
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use href="./images/svg/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-facebook"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-modal__item">
        <picture>
          <source srcset="./images/team/photo9.jpg 1x, ./images/team/photo9.jpg 2x" />
          <img src="./images/team/photo9.jpg" alt="фотография" width="270" />
        </picture>
        <div class="team-modal__content">
          <h3 class="team-modal__name">Oleksandr Shostak</h3>
          <ul class="sl__list">
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use href="./images/svg/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-facebook"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-modal__item">
        <picture>
          <source srcset="./images/team/photo9.jpg 1x, ./images/team/photo9.jpg 2x" />
          <img src="./images/team/photo9.jpg" alt="фотография" width="270" />
        </picture>
        <div class="team-modal__content">
          <h3 class="team-modal__name">Oleksandr Shostak</h3>
          <ul class="sl__list">
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use href="./images/svg/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-facebook"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-modal__item">
        <picture>
          <source srcset="./images/team/photo9.jpg 1x, ./images/team/photo9.jpg 2x" />
          <img src="./images/team/photo9.jpg" alt="фотография" width="270" />
        </picture>
        <div class="team-modal__content">
          <h3 class="team-modal__name">Oleksandr Shostak</h3>
          <ul class="sl__list">
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use href="./images/svg/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-facebook"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-modal__item">
        <picture>
          <source srcset="./images/team/photo9.jpg 1x, ./images/team/photo9.jpg 2x" />
          <img src="./images/team/photo9.jpg" alt="фотография" width="270" />
        </picture>
        <div class="team-modal__content">
          <h3 class="team-modal__name">Oleksandr Shostak</h3>
          <ul class="sl__list">
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use href="./images/svg/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-facebook"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-modal__item">
        <picture>
          <source srcset="./images/team/photo9.jpg 1x, ./images/team/photo9.jpg 2x" />
          <img src="./images/team/photo9.jpg" alt="фотография" width="270" />
        </picture>
        <div class="team-modal__content">
          <h3 class="team-modal__name">Oleksandr Shostak</h3>
          <ul class="sl__list">
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use href="./images/svg/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-facebook"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-modal__item">
        <picture>
          <source srcset="./images/team/photo9.jpg 1x, ./images/team/photo9.jpg 2x" />
          <img src="./images/team/photo9.jpg" alt="фотография" width="270" />
        </picture>
        <div class="team-modal__content">
          <h3 class="team-modal__name">Oleksandr Shostak</h3>
          <ul class="sl__list">
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use href="./images/svg/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-facebook"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-modal__item">
        <picture>
          <source srcset="./images/team/photo9.jpg 1x, ./images/team/photo9.jpg 2x" />
          <img src="./images/team/photo9.jpg" alt="фотография" width="270" />
        </picture>
        <div class="team-modal__content">
          <h3 class="team-modal__name">Oleksandr Shostak</h3>
          <ul class="sl__list">
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use href="./images/svg/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-facebook"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      
    </ul>
  </div>
</div>
