<div class="team-backdrop team-backdrop--is-hidden js-team-backdrop">
  <div class="team-modal">
    <button type="button" class="team-modal__button js-team-modal-close">
      <svg class="modal__close-image">
        <use href="./images/svg/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="team-modal__list">
      <li class="team-modal__item">
        <picture>
          <source srcset="./images/team/bulanaya-yuliia.jpg 1x, ./images/team/bulanaya-yuliia.jpg 2x" />
          <img src="./images/team/bulanaya-yuliia.jpg" alt="photo Yuliia Bulanaya" width="270" />
        </picture>
        <div class="team-modal__content">
          <h3 class="team-modal__name">Yuliia Bulanaya</h3>
          <ul class="sl__list">
            <li class="sl__item">
              <a href="https://www.linkedin.com/in/julia-bulanaja-b88312b7/" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="https://github.com/bublik1990" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use href="./images/svg/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-facebook"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="https://www.instagram.com/julia_bulanaja/" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-modal__item">
        <picture>
          <source srcset="./images/team/valentyna-stohnii.jpg 1x, ./images/team/valentyna-stohnii.jpg 2x" />
          <img src="./images/team/valentyna-stohnii.jpg" alt="photo Valentyna Stohnii" width="270" />
        </picture>
        <div class="team-modal__content">
          <h3 class="team-modal__name">Valentyna Stohnii</h3>
          <ul class="sl__list">
            <li class="sl__item">
              <a href="https://www.linkedin.com/in/%D0%B2%D0%B0%D0%BB%D1%8F-%D1%81%D1%82%D0%BE%D0%B3%D0%BD%D1%96%D0%B9-018a85218" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="https://github.com/ValiaStohnii" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use href="./images/svg/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-facebook"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="https://instagram.com/valia.stohnii8?" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-modal__item">
        <picture>
          <source srcset="./images/team/olga-chotii.jpg 1x, ./images/team/olga-chotii.jpg 2x" />
          <img src="./images/team/olga-chotii.jpg" alt="фотография" width="270" />
        </picture>
        <div class="team-modal__content">
          <h3 class="team-modal__name">Olga Chotii</h3>
          <ul class="sl__list">
            <li class="sl__item">
              <a href="https://www.linkedin.com/in/olga-choty-44707621a" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="https://github.com/olgachotii" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use href="./images/svg/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-facebook"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-modal__item">
        <picture>
          <source srcset="./images/team/oleh-solomka.jpg 1x, ./images/team/oleh-solomka.jpg 2x" />
          <img src="./images/team/oleh-solomka.jpg" alt="фотография" width="270" />
        </picture>
        <div class="team-modal__content">
          <h3 class="team-modal__name">Oleh Solomka</h3>
          <ul class="sl__list">
            <li class="sl__item">
              <a href="" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="https://github.com/OlehSolomka" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use href="./images/svg/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-facebook"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-modal__item">
        <picture>
          <source srcset="./images/team/illia-bachkovskyi.jpg 1x, ./images/team/illia-bachkovskyi.jpg 2x" />
          <img src="./images/team/illia-bachkovskyi.jpg" alt="фотография" width="270" />
        </picture>
        <div class="team-modal__content">
          <h3 class="team-modal__name">Illia Bachkovskyi</h3>
          <ul class="sl__list">
            <li class="sl__item">
              <a href="https://www.linkedin.com/in/illia-bachkovskyi-b5316320a" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="https://github.com/IlliaBachkovskyi" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use href="./images/svg/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-facebook"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-modal__item">
        <picture>
          <source srcset="./images/team/anatolii-litynskyi.jpg 1x, ./images/team/anatolii-litynskyi.jpg 2x" />
          <img src="./images/team/anatolii-litynskyi.jpg" alt="photo Anatolii-Litynskyi" width="270" />
        </picture>
        <div class="team-modal__content">
          <h3 class="team-modal__name">Anatolii Litynskyi</h3>
          <ul class="sl__list">
            <li class="sl__item">
              <a href="https://www.linkedin.com/in/litinskiy-tolik/" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="https://github.com/hhorizon" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use href="./images/svg/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="https://www.facebook.com/litinskiy.tolik" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-facebook"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="https://www.instagram.com/horizon.07/" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-modal__item">
        <picture>
          <source srcset="./images/team/yarik.jpg 1x, ./images/team/yarik.jpg 2x" />
          <img src="./images/team/yarik.jpg" alt="photo yarik" width="270" />
        </picture>
        <div class="team-modal__content">
          <h3 class="team-modal__name">Yarik</h3>
          <ul class="sl__list">
            <li class="sl__item">
              <a href="" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="https://github.com/gamabuntafrog" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use href="./images/svg/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-facebook"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-modal__item">
        <picture>
          <source srcset="./images/team/oleksandr-mateichuk.jpg 1x, ./images/team/oleksandr-mateichuk.jpg 2x" />
          <img src="./images/team/oleksandr-mateichuk.jpg" alt="photo Oleksandr Mateichuk" width="270" />
        </picture>
        <div class="team-modal__content">
          <h3 class="team-modal__name">Oleksandr Mateichuk</h3>
          <ul class="sl__list">
            <li class="sl__item">
              <a href="http://linkedin.com/in/oleksandr-mateichuk" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use href="./images/svg/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-facebook"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-modal__item">
        <picture>
          <source srcset="./images/team/oleksandr-shostak.jpg 1x, ./images/team/oleksandr-shostak.jpg 2x" />
          <img src="./images/team/oleksandr-shostak.jpg" alt="photo Oleksandr Shostak" width="270" />
        </picture>
        <div class="team-modal__content">
          <h3 class="team-modal__name">Oleksandr Shostak</h3>
          <ul class="sl__list">
            <li class="sl__item">
              <a href="" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-linkedin"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use href="./images/svg/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-facebook"
                  ></use>
                </svg>
              </a>
            </li>
            <li class="sl__item">
              <a href="" class="sl__link" target="_blank">
                <svg class="sl__logo">
                  <use
                    href="./images/svg/sprite.svg#icon-instagram"
                  ></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      
    </ul>
  </div>
</div>
